@model WebApplication2.Models.PlanoViewModel

@{
    /**/

    ViewBag.Title = "Index";
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Origem</th>
            <th scope="col">Destino</th>
            <th scope="col">Plano</th>
            <th scope="col">Tempo</th>
            <th scope="col">C/FaleMais</th>
            <th scope="col">S/FaleMais</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DropDownListFor(model => model.AreaCodeEdit.Id, Model.Source, "Select type", new { @class = "form-control", @id = "Source" })
                @Html.ValidationMessageFor(model => model.Source)
            </td>
            <td>
                @Html.DropDownListFor(model => model.AreaCodeEdit.Id, Model.Destiny, "Select type", new { @class = "form-control", @id = "Destiny" })
                @Html.ValidationMessageFor(model => model.Destiny)
            </td>
            <td>
                @Html.DropDownListFor(model => model.PlanEdit.Id, Model.Plans, "Select type", new { @class = "form-control", @id = "Plan" })
                @Html.ValidationMessageFor(model => model.Plans)
            </td>
            <td>
                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @id = "Time" } })
            </td>
            <td>
                @Html.EditorFor(model => model.ValueWithPlan, new { htmlAttributes = new { @class = "form-control", @id = "ValueWithPlan" } })
            </td>
            <td>
                @Html.EditorFor(model => model.ValueWithOutPlan, new { htmlAttributes = new { @class = "form-control", @id = "ValueWithOutPlan" } })
            </td>
        </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {

        $("#Source").change(function () {
           var _source = $("#Source").val();
           var _destino = $("#Destiny").val();
           var _plan = $("#Plan").val();
           var _time = $("#Time").val();
            
            if (_source != "" && _destino != "" && _plan != "" && _time != "") {
                 $.ajax({
                url: "@Url.Action("Calcular", "Home")",
                method: "GET",
                data: {
                    Source: $("#Source").val(),
                    Destiny: $("#Destiny").val(),
                    Plan: $("#Plan").val(),
                    Time: $("#Time").val()
                },
                success: function (data) {
                    data = JSON.parse(data);

                    $("#ValueWithPlan").val(data.ValorUM);
                    $("#ValueWithOutPlan").val(data.ValorDOIS);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            }

        });

        $("#Destiny").change(function () {
            var _source = $("#Source").val();
            var _destino = $("#Destiny").val();
            var _plan = $("#Plan").val();
            var _time = $("#Time").val();

             if (_source != "" && _destino != "" && _plan != "" && _time != "") {
                 $.ajax({
                url: "@Url.Action("Calcular", "Home")",
                method: "GET",
                data: {
                    Source: $("#Source").val(),
                    Destiny: $("#Destiny").val(),
                    Plan: $("#Plan").val(),
                    Time: $("#Time").val()
                },
                success: function (data) {
                    data = JSON.parse(data);

                    $("#ValueWithPlan").val(data.ValorUM);
                    $("#ValueWithOutPlan").val(data.ValorDOIS);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            }
        });

        $("#Plan").change(function () {
            var _source = $("#Source").val();
            var _destino = $("#Destiny").val();
            var _plan = $("#Plan").val();
            var _time = $("#Time").val();

             if (_source != "" && _destino != "" && _plan != "" && _time != "") {
                 $.ajax({
                url: "@Url.Action("Calcular", "Home")",
                method: "GET",
                data: {
                    Source: $("#Source").val(),
                    Destiny: $("#Destiny").val(),
                    Plan: $("#Plan").val(),
                    Time: $("#Time").val()
                },
                success: function (data) {
                    data = JSON.parse(data);

                    $("#ValueWithPlan").val(data.ValorUM);
                    $("#ValueWithOutPlan").val(data.ValorDOIS);
                },
                error: function (data) {
                    console.log(data);
                }
            });
            }
        });
    });


</script>


